<!DOCTYPE html>
<html>
<head>
  <title>Todo Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <div class="form-group">
  <label for="usr">Todo:</label>
  <input type="text" class="form-control" id="usr">
  <input type="button" text="ADD" class="btn-primary"></input>
  <!--
  <input type="button" text="DELETE" class="btn-danger"></input>
  <input type="button" text="UPDATE" class="btn-secondary"></input>
-->
</div>
</body>
</html>
